---
---

<div class="angela-floating-decor pointer-events-none fixed inset-0 overflow-hidden z-0" aria-hidden="true">
  <img
    src="/angela/lemon-slice.svg"
    alt=""
    class="angela-float absolute w-12 opacity-20 top-[12%] left-[8%]"
    style="animation-delay: 0s"
  />
  <img
    src="/angela/lemon-slice.svg"
    alt=""
    class="angela-float absolute w-8 opacity-15 top-[45%] right-[12%]"
    style="animation-delay: 2s"
  />
  <span class="angela-float absolute w-10 opacity-15 top-[70%] left-[15%] text-3xl" style="animation-delay: 1s"
    >🦄</span
  >
  <img
    src="/angela/lemon-slice.svg"
    alt=""
    class="angela-float absolute w-6 opacity-10 bottom-[20%] right-[20%]"
    style="animation-delay: 3s"
  />
  <div
    class="absolute top-[20%] left-0 right-0 h-px opacity-10"
    style="background: repeating-linear-gradient(90deg, #F5D547 0, #F5D547 8px, transparent 8px, transparent 16px)"
  >
  </div>
</div>
